<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSqlCeDialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlServerCeDriver</property>
      <property name="connection.connection_string_name">SoundConnection</property>
      <property name="connection.release_mode">on_close</property>
      <!--
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory,NHibernate.ByteCode.Castle</property>
      -->
      <property name="command_timeout">600</property>
      <property name="show_sql">true</property>
      <property name="format_sql">True</property>
      <property name="current_session_context_class">thread_static</property>
      <mapping assembly="MeasurementDomain.Infrastructure" />
    </session-factory>
  </hibernate-configuration>

  <connectionStrings>
    <add name="SoundConnection" connectionString="Data Source=|DataDirectory|Sound.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />   
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
